/* Global Setting 
페이지 전반에 사용되는 속성값들을 미리 지정*/
:root {
  /*Color*/
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #d386c4;
  --color-dark-pink: #bc56c5;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /*Font Size*/
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /*Font weight*/
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /*Size*/
  --size-border-radius: 4px;
}

/*Universal tag 
CSS에 기본적으로 들어가는 속성을 변경*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

button {
  background-color: transparent; /*???????*/
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography 
전반적으로 쓰여진 heading text에 대해서 먼저 스타일링주기*/

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/*navbar*/

#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-pink);
  align-items: center;
  color: var(--color-white);
  padding: 16px;
}

.navbar_menu {
  display: flex;
}

.navbar_logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar_menu_item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar_menu_item.active {
  border: 1px solid var(--color-white);
}

.navbar_menu_item:hover {
  background-color: var(--color-dark-pink);
}

/*Home*/
#home {
  /*백그라운드 속성에서 url으로 배경을 주기*/
  background: url("imgs/home-background.png") center/cover no-repeat;
  padding: 40px;
  text-align: center;
}

.home_avatar {
  border-radius: 80%;
  border: 3px solid var(--color-light pink);
}

.home_title,
.home_discription {
  color: var(--color-dark-pink);
}

.home_contact {
  color: var(--color-dark-pink);
  font-size: var(--font-regular);
  font-weight: var(var(--weight-bold));
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-dark-pink);
  border-radius: var(--size-border-radius);
}
